.form-header {
  display: flex;
  margin-top: 20px;
}

.form-block-1 {
  min-width: 110px;
  max-width: 110px;
}

.form-block-2 {
  min-width: 60px;
  max-width: 60px;
}

.form-block-3 {
  min-width: 65px;
  max-width: 65px;
}

.form-block-4 {
  min-width: 100px;
  max-width: 100px;
}

hr {
  max-width: 360px;
  width: 27.5rem;
}
