.form-header {
  display: flex;
  margin-top: 20px;
}

.form-block-1 {
  min-width: 120px;
  max-width: 120px;
}

.form-block-2 {
  min-width: 100px;
  max-width: 100px;
}

.form-block-3 {
  min-width: 100px;
  max-width: 100px;
}

.form-block-4 {
  min-width: 100px;
  max-width: 100px;
}
