.form-header {
  display: flex;
  margin-top: 20px;
}

.form-block-1 {
  min-width: 110px;
  max-width: 110px;
}

.form-block-2 {
  min-width: 80px;
  max-width: 80px;
}

.form-block-3 {
  min-width: 85px;
  max-width: 85px;
}

.form-block-4 {
  min-width: 100px;
  max-width: 100px;
}

hr {
  width: 360px;
}
