.hero-create-container {
  display: flex;
  margin-bottom: .3rem;
}

.hero {
  min-width: 115px;
  max-width: 115px;
  font-weight: bold;

  .fodder & {
    font-weight: normal;
    font-style: italic;
  }
}

.owned {
  min-width: 50px;
  max-width: 50px;
}

.fuse {
  min-width: 150px;
  max-width: 150px;
}

.disabled {
  pointer-events: none;
}
