.hero-create-container {
  display: flex;
}

.hero {
  min-width: 105px;
  max-width: 105px;
  font-weight: bold;

  .fodder & {
    font-weight: normal;
    font-style: italic;
  }
}

.owned {
  min-width: 50px;
  max-width: 50px;
}

.fuse {
  min-width: 150px;
  max-width: 150px;
}
