<b>How to: </b>
<ol class="howto-steps">
  <li class="howto-steps__item">
    <div>
      Select <img src="./assets/arrow.svg" alt="" class="arrow arrow-margin"> a faction from the dropdown box.
    </div>
  </li>
  <li class="howto-steps__item">
    Enter the amount of heroes that you own in the fields.
    <div class="howto-steps__input-data">
      <app-list-header></app-list-header>
      <app-hero-input [last]="true" [level]="5" [heroData]="hero" [disable]="true"></app-hero-input>
    </div>
  </li>
  <li class="howto-steps__item">
    See what heroes can be fused. By clicking the fuse button you can fuse that hero
    <div class="howto-steps__input-data">
      <app-hero-can-create [level]="5" [heroData]="heroData" [disable]="true" [heroes]="heroList"></app-hero-can-create>
    </div>
  </li>
  <li class="howto-steps__item">
    See what heroes and fodder was used to fuse your hero of choice.

    <div class="howto-steps__input-data">
      Fused (in order):<br>
      Valkyrie 7★<br>
      <br>
      Used copies:<br>
      1 x Valkyrie (6★)<br>
      <br>
      Fodder:<br>
      4 x 5★<br>
    </div>
  </li>
</ol>

<b>Other usefull information:</b>
<hr>
<ul class="hero-fodder-info">
  <li>
    <q>
      <span class="hero fodder">Ent Elder</span>
    </q>: Heroes shown like this are considered trash and can not be upgraded to 6★. Use then as 5★ fodder.
  </li>
  <li>
    <q><span class="hero">Thale</span></q>: Heroes shown like this are considered fodder.
  </li>
  <li>
    <q><span class="hero natural">Valkyrie</span></q>: Heroes shown like this are natural 5★ heroes and in general should not be used as fodder.
  </li>
  <li>
    <q><span class="hero potential">Valkyrie</span></q>: Heroes shown like this can potentially be upgraded to its listed ★ level. This is only an estimation and it is done based on the available 5★ heroes.
  </li>
</ul>
<hr>
<p>
  The game automaticly saves entered data. You can also save data that can be loaded at any time.
  <br>
  <br>
  This tool allows you to enter all you heroes you own or have summoned. When you have enough to fuse any hero a fuse button will show.
  You can simulate that hero fusion to see what it will cost and what the results are.
</p>
