.arrow {
  height: 2rem;
  width: 2rem;
  transform: rotate(70deg) scaleX(-1);
}

.howto-steps {
  margin: 0;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.howto-steps__item {
  margin-bottom: 2rem;
}

.howto-steps__input-data {
  display: block;
  margin-top: 1rem;
  padding: .5rem .5rem;
  background-color: ghostwhite;
}


.hero {
  min-width: 115px;
  max-width: 115px;
  font-weight: bold;
  color: dimgray;

  &.natural {
    color: goldenrod;
  }

  &.fodder {
    font-weight: normal;
    font-style: italic;
    color: black;
  }

  &.potential {
    font-weight: normal;
    color: black;
    text-decoration: underline;
  }
}


ul {
  margin: 0;
  padding-left: 1.5rem;


}

li {
  text-align:justify
}

p {
  text-align: justify;
}

.hero-fodder-info {
  margin: 1.5rem 0;
}
