<div class="row">
  <div class="col-xs-12 col-sm-7">
    <div *ngFor="let star of stars">
          <app-list-header></app-list-header>
          <div class="list-header">
            <div class="list-header__stars">{{star}}*</div>
            <div class="list-header__total">({{ownedService.calculateTotalFodder(star, FACTION) + ownedService.ownedOffset[star] }})</div>
          </div>
          <div *ngFor="let hero of heroes[star]">
            <app-hero-input [heroData]="hero" [level]="star"></app-hero-input>
          </div>
    </div>
    <div>
      <button (click)="resetForm()">clear {{FACTION}} faction form</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div>
      Fusion simulation
    </div>

    <div *ngFor="let star of fusionStars">
      &nbsp;
      <div>{{star}}*</div>
      <div *ngFor="let hero of heroes[star]">
        <app-hero-can-create *ngIf="canCreate(hero)" [heroData]="hero" [level]="star" [heroes]="heroes"></app-hero-can-create>
      </div>
    </div>
    &nbsp;
    <app-log></app-log>
  </div>
</div>
