.row {
}

label {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

input {
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  padding-left: 5px;

  &:disabled {
    opacity: 0;
  }
}
