
:host {
  display: block;
}

.row {
}

.disabled {
  pointer-events: none;
}

label {
  display: inline-block;
  min-width: 110px;
  max-width: 110px;
  margin-left: .5rem;
}

input {
  display: inline-block;
  min-width: 60px;
  max-width: 60px;
  padding-left: 5px;

  border: 1px solid dimgray;
  border-bottom: none;

  &:nth-child(2) {
    border-right: none;
  }

  &.last {
    border-bottom: 1px solid dimgray;
  }

  &:disabled {
    opacity: 0;
  }

  &:first-child {
    margin-left: 2px;
  }
}


.total {
  margin-left: 8px;
}
